@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.catalog {
	padding: 60px 0;
	font-family: 'Fira Sans', sans-serif;

	h1 {
		font-size: 40px;
		font-weight: bold;
	}

	.catalog_items {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 2fr 6fr;
		gap: 20px;

		.catalog_nav {
			nav {
				border: 1px solid #dcdcdc;
				display: flex;
				flex-direction: column;

				a {
					color: #6589eb;
					border-bottom: 1px solid #dcdcdc;
					padding: 10px 10px;
					transition: 0.3s;

					&:last-child {
						border-bottom: none;
					}

					&:hover {
						background-color: #6589eb;
						color: white;
					}
				}
			}
		}

		.categories {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;

			.category {
				background-color: #f1f1f1;
				height: 180px;
				text-align: center;
				padding: 10px;
				transition: 0.3s all;

				.img_block {
					height: 120px;
					padding: 20px;
					display: flex;
					align-items: center;

					img {
						margin: 0 auto;
						width: 80px;
					}
				}

				&:hover {
					box-shadow: 0 0 20px gray;
				}
			}
		}
	}
}

@media screen and (max-width: 1295px) {
	.catalog {
		margin: 0 2%;
	}
}

@media screen and (max-width: 1279px) {
	.catalog {
		.catalog_items {
			.categories {
				.category {
					height: 200px;

					span {
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.catalog {
		.catalog_items {
			display: block;

			.catalog_nav {
				display: none;
			}

			.categories {
				.category {
					display: flex;
					flex-direction: column;
					align-content: space-around;
					gap: 10px;

					.img_block {
						height: 100px;

						img {
							width: 70px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.catalog {
		.catalog_items {
			.categories {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}

@media screen and (max-width: 512px) {
	.catalog {
		h1 {
			font-size: 32px;
		}
		.catalog_items {
			.categories {
				gap: 10px;

				.category {
					height: 180px;

					span {
						font-size: 12px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 433px) {
	.catalog {
		.catalog_items {
			.categories {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
