@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.mobile_menu {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 3px 12px -4px rgb(0 0 0 / 90%);
  overflow-y: auto;

  nav {
    display: flex;
    flex-direction: column;

    a {
      padding: 10px 20px;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      color: black;
      border-bottom: 1px solid #f1f1f1;
    }
  }
}

