.parent {
  .parent_items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .child {
      max-height: 250px !important;
      border: 1px solid #dddddd;
      background-color: #f1f1f1;
      cursor: pointer;
      text-align: center;
      transition: 0.3s all;

      &:hover {
        box-shadow: 0 0 20px silver;
      }


      .img_block {
        background-color: white;
        padding: 5px 10px;
        margin-bottom: 10px;

        img {
          width: 200px;
          height: 150px;
        }
      }

      span {
        height: 100%;
        text-align: center;
      }
    }
  }
}