@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');

.header {
  position: sticky;
  width: 100%;
  box-shadow: gray 0 1px 10px;
  top: 0;
  z-index: 2;
  background: white;

  .burger_menu {
    display: none;
  }

  .header_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    nav {
      display: flex;
      align-items: center;
      gap: 20px;

      .active {
        background: #6589eb;
        color: white;
      }

      .pending {
        background: #6589eb;
        color: white;
      }


      a {
        padding: 5px 10px;
        font-family: 'Cabin', sans-serif;
        font-size: 22px;
        transition: 0.3s all;

        &:hover {
          background: #6589eb;
          color: white;
        }
      }
    }

    img {
      width: 300px;
    }
  }
}

.mobileMenuEnterActive {
  animation: visible 0.5s forwards;
}

.mobileMenuExitActive {
  animation: invisible 0.5s forwards;
}

@keyframes visible {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes invisible {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@media screen and (max-width: 1400px) {
  .header {
    .header_items {
      img {
        width: 200px;
      }

      nav {
        a {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 772px) {
  .header {
    .burger_menu {
      display: initial;
    }

    .header_items {
      margin: 0 1.5%;

      nav {
        display: none;
      }
    }
  }
}
