@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');

.carousel {
  padding-top: 20px!important;
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
  background: #e7e7e7 url(../../assets/images/manufacturers__bg.jpg) repeat-x center;
  background-size: contain;

  h2 {
    color: black;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  a {
    margin: 0 3%;
    filter: grayscale(100%);
    transition: 0.5s all;


    &:hover {
      filter: grayscale(0%);
    }

    .brand_item {
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 130px;
      margin: 0 3%;
      border-radius: 10px;

      img {
        width: 120px;
      }
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1280px) {
  .carousel {
    padding: 0 3%;
  }
}

@media screen and (max-width: 1091px) and (min-width: 1024px) {
  .carousel {
    padding: 0 5%;
  }
}

@media screen and (max-width: 834px) and (min-width: 767px) {
  .carousel {
    padding: 0 5%;
  }
}

@media screen and (max-width: 706px) {
  .carousel {
    padding: 0 20px;
    h2 {
      font-size: 20px;
    }

    a {
      margin: 0 0;
      .brand_item {
        height: 100px;



        img {
          width: 90px;
        }
      }
    }
  }
}