.loading {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  img {
    width: 100px;
  }
}

.child {
  .child_items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .child_category {
      max-height: 300px !important;
      border: 1px solid #dddddd;
      background-color: #f1f1f1;
      cursor: pointer;
      text-align: center;
      transition: 0.3s all;
      padding-bottom: 10px;

      &:hover {
        box-shadow: 0 0 20px silver;
      }


      .img_block {
        background-color: white;
        padding: 5px 10px;
        margin-bottom: 10px;

        img {
          width: 200px;
          height: 150px;
        }
      }

      p {
        gap: 10px;
        padding: 0 2px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .child {
    .child_items {
      .child_category {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .child {
    .child_items {
      display: grid;
      grid-template-columns: repeat(4, 1fr)
    }
  }
}

@media screen and (max-width: 1023px) {
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
    }
  }
}

@media screen and (max-width: 767px) {
  .child {
    .child_items {
      display: grid;
      grid-template-columns: repeat(3, 1fr)
    }
  }
}

@media screen and (max-width: 632px) {
  .child {
    .child_items {
      gap: 10px;

      .child_category {
        max-height: 200px;

        .img_block {
          height: 150px;

          img {
            width: 150px;
            height: 100%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 488px) {
  .child {
    .child_items {
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;

      .child_category {
        border: 0.5px solid #dddddd;

        .img_block {
          height: 100px;

          img {
          }
        }

        p {
          max-height: 40px;
          font-size: 7px;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .child {
    .child_items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}